@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: black;
}

footer {
  max-width: 50vw;;
}


* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* * {
    box-sizing: border-box;
} */


.social {
  line-height: 1.3;
  font-size: 20px;
  box-sizing: inherit;
  width: 40px;
  bottom: 0px;
  left: 20px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.social-list a {
  display: inline-block;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  padding: 10px;
}
.social-list img:hover {
  color: rgb(100, 255, 218);
  transform: translateY(-3px);
}

.hex {
  fill: cadetblue;
}


.resume {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}



.title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.topic1 {
  padding: 10px;
  font-size: xx-large;
}

.title1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 10vh;
}

.topic2 {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  padding: 10px;
  font-size: xx-large;
}



button {
  cursor: pointer;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: 0px;
  text-decoration-skip-ink: auto;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  height: 4em;
  text-align: left;
  white-space: nowrap;
  font-size: 15px;
  text-decoration: none;
  padding: 0px 20px 2px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  border-left: 2px solid #333;
  outline: 0 none;
}

.btnactive {
  background-color: #333;
  color: white;
}

button:hover {
  background-color: #333;
  color: white;
}
