@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: black;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* * {
    box-sizing: border-box;
} */

.bp3-tab {
  height: 4em;
  font-size: large;
  white-space: nowrap;
  text-align: center;
}


.myName a,
.myName {
  
  font-size: larger;
  padding: inherit;
  text-decoration: none;
  padding: 1vh 2vw;
}

.social {
  line-height: 1.3;
  font-size: 20px;
  box-sizing: inherit;
  width: 40px;
  bottom: 0px;
  left: 20px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.social-list a {
  display: inline-block;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  padding: 10px;
}
.social-list img:hover {
  color: rgb(100, 255, 218);
  transform: translateY(-3px);
}

.hex {
  fill: cadetblue;
}


.resume {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}



.title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.topic1 {
  padding: 10px;
  font-size: xx-large;
}

.title1 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  padding-top: 10vh;
}

.topic2 {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  padding: 10px;
  font-size: xx-large;
}



button {
  cursor: pointer;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  border-radius: 0px;
  text-decoration-skip-ink: auto;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: transparent;
  height: 4em;
  text-align: left;
  white-space: nowrap;
  font-size: 15px;
  text-decoration: none;
  padding: 0px 20px 2px;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
  border-left: 2px solid #333;
  outline: 0 none;
}

.btnactive {
  background-color: #333;
  color: white;
}

button:hover {
  background-color: #333;
  color: white;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 400px) {
  .text {
    font-size: 11px;
  }
}

.contactform {
  margin: 5vh 0 5vh 0;
}
.form-style-1 {
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;

  
}
.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style-1 label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}
.form-style-1 input[type="text"],
.form-style-1 input[type="date"],
.form-style-1 input[type="datetime"],
.form-style-1 input[type="number"],
.form-style-1 input[type="search"],
.form-style-1 input[type="time"],
.form-style-1 input[type="url"],
.form-style-1 input[type="email"],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  outline: none;
}
.form-style-1 input[type="text"]:focus,
.form-style-1 input[type="date"]:focus,
.form-style-1 input[type="datetime"]:focus,
.form-style-1 input[type="number"]:focus,
.form-style-1 input[type="search"]:focus,
.form-style-1 input[type="time"]:focus,
.form-style-1 input[type="url"]:focus,
.form-style-1 input[type="email"]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}
.form-style-1 .field-divided {
  width: 49%;
}

.form-style-1 .field-long {
  width: 100%;
}
.form-style-1 .field-select {
  width: 100%;
}
.form-style-1 .field-textarea {
  height: 100px;
}
.form-style-1 input[type="submit"],
.form-style-1 input[type="button"] {
  background: #4b99ad;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}
.form-style-1 input[type="submit"]:hover,
.form-style-1 input[type="button"]:hover {
  background: #4691a4;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.form-style-1 .required {
  color: red;
}

.topic3 {
  padding: 10px;
  

  font-size: xx-large;
}

footer {
  display: flex;
  flex-direction: row;
  bottom: 0;
  position: fixed;
  width: 100%;
  margin-top: auto;
  padding: 3px 0;
}
footer .copy {

  font-size: small;
  
  margin-left: auto;
  padding: 0 2vw;
}

footer p {
  margin-top: 2px;
  margin-bottom: 2px;
}

@media only screen and (max-width: 700px) {
  .resume > div {
    width: auto;
    height: 100%;
  }
  .ProjectList {
    display: flex;
    flex-flow: column nowrap;
    padding: 1vh 1vw;
    margin: 10vh 10vw;
    font-size: large;
  }
  .navigation nav a {
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .social-list a {
    padding: 0;
  }
  .ham {
    margin-left: auto;
    margin-right: 5vw;
    display: inline-block;
  }

  .list {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
  
  }
  .nav-content nav {
    display: none;
    flex-flow: column nowrap;
    margin-right: 0vw;
    background-color: #333;
  }

  /* .navigation nav {
  } */
  .intro {
    margin: 0 10vw;
  }
  .contactdiv {
    margin: 2vh 10vw;
  }

  .skill-container {
    flex-flow: column;
    margin-bottom: 10vh;
  }
  .listA {
    width: auto;
    margin: 1vh 10vw 1vh 10vw;
  }
}
