
.container {
    left: 50%;
    text-align: center;
    font-size: large;
    padding: 10vh 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 1000px;
  }
  
.inner_container {
  padding: 5vh 0;
  margin: auto 3vw;
}
@media only screen and (max-width:767px) {
  .container{
    flex-direction: column;
    width: 350px;
  }
  .inner_container{
    padding: 0 0;
  }
}