.container {
    background-color: white;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10vh 0;
    margin: auto;
    width: 700px;
    font-size: large;
  }
  
  @media only screen and (max-width:767px) {
    .container {
      width: 350px;
    }
  }