.ProjectList {
    background-color: white;
    backdrop-filter: blur(10px);
    display: flex;
    flex-flow: row nowrap;
    padding: 1vh 1vw;
    margin: 10vh 10vw;
    font-size: large;
  }
  
  .project1,
  .project2,
  .project3,
  .project4,
  .project5 {
    transition: all 2s ease;
  }
  
  .listb {
    display: block;
    position: relative;
    width: max-content;
    height: 100%;
    z-index: 3;
    padding: 0px;
    margin: auto 0;
    padding-right: 0;
    list-style: none;
    padding-inline-start: 20px;
  }

  /* .tab {
      width: 100%;
      height: 4em;
      font-size: large;
      white-space: nowrap;
  } */